* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
main {
    grid-row: 3/4;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fff;
    color: black;
    padding: 50px;
}

main #left {
    grid-column: 2/7;
    margin-top: 70px;
}

main #left h3 {
    font-weight: 500;
}

main #left ul {
    padding: 0;
    margin: 0;
}

main #left li {
    list-style-type: none;
    margin-top: 15px;
}

main #right {
    grid-column: 8/11;
    box-shadow: 5px 5px 5px rgba(12, 12, 12, 0.644);
    padding: 30px;
    border-radius: 3px;
}

main #right input#Fname {
    width: 46%;
    padding: 10px;
}

main #right input#Lname {
    width: 50%;
    margin-left: 2%;
    padding: 10px;
}

main #right input#mail {
    width: 100%;
    padding: 10px;
    margin: 15px auto;
}

main #right button {
    width: 100%;
    border: none;
    padding: 10px 35px;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    margin: 15px auto;
    font-weight: 500;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    /* for the main content*/

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    #right{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
}